/*-----------------------------------*\
  #main.css
\*-----------------------------------*/


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */

    --raisin-black: hsla(231, 10%, 14%, 1);
    --roman-silver: hsla(229, 10%, 57%, 1);
    --eerie-black: hsla(228, 9%, 10%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white_a10: hsla(0, 0%, 100%, 0.1);
    --white_a5: hsla(0, 0%, 100%, 0.05);

    /**
     * typography
     */

    --ff-syne: 'Syne', sans-serif;

    --fs-1: 4.8rem;
    --fs-2: 4.5rem;
    --fs-3: 4rem;
    --fs-4: 2.4rem;
    --fs-5: 2rem;
    --fs-6: 1.8rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;

    --fw-800: 800;
    --fw-700: 700;

    /**
     * spacing
     */

    --section-padding: 100px;

    /**
     * border radius
     */

    --radius-pill: 100px;
    --radius-circle: 50%;
    --blob-radius: 52% 48% 59% 41% / 53% 40% 60% 47%;

    /**
     * transition
     */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
    --cubic-bounce: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --cubic-ease-out: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
img,
span,
data,
button,
ion-icon {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

ion-icon {
    pointer-events: none;
}

html {
    font-family: var(--ff-syne);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--eerie-black);
    color: var(--roman-silver);
    font-size: 1.6rem;
    line-height: 1.75;
    overflow: hidden;
}

body.loaded {
    overflow: overlay;
}

body.nav-active {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 20px;
}




/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
    padding-inline: 12px;
}

.section {
    padding-block: var(--section-padding);
}

.h1 {
    font-size: var(--fs-3);
    font-weight: var(--fw-800);
}

.h1,
.h2,
.h4 {
    color: var(--white);
    line-height: 1;
}

.h2 {
    font-size: var(--fs-2);
}

.h3 {
    color: var(--white);
    font-size: var(--fs-4);
    line-height: 1.5;
}

.h4 {
    font-size: var(--fs-5);
}

.h2,
.h3,
.h4 {
    font-weight: var(--fw-700);
}

.w-100 {
    width: 100%;
}

.has-before {
    position: relative;
    z-index: 1;
}

.has-before::before {
    position: absolute;
    content: "";
    z-index: -1;
}

.btn {
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: max-content;
    min-width: min-content;
    padding: 20px 32px;
}

.btn::before {
    width: 70px;
    height: 70px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 2px solid var(--white_a5);
    border-radius: var(--radius-circle);
    transition: var(--cubic-bounce);
}

.btn:is(:hover, :focus-visible)::before {
    left: calc(100% - 70px);
}

.section-subtitle {
    text-transform: uppercase;
    font-size: var(--fs-8);
    font-weight: var(--fw-700);
    margin-block-end: 20px;
    letter-spacing: 2px;
}

.section-title {
    margin-block-end: 45px;
}

.text-lg {
    font-family: var(--ff-syne);
    font-size: var(--fs-1);
}

.layer-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--white_a5);
    overflow: hidden;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}






/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--eerie-black);
    z-index: 10;
    display: grid;
    place-content: center;
    transition: var(--transition-2);
    transition-delay: 0.5s;
}

.preloader.loaded {
    opacity: 0;
    pointer-events: none;
}

.preloader .circle {
    width: 60px;
    height: 60px;
    border-radius: var(--radius-circle);
    border: 2px solid var(--raisin-black);
    border-top-color: var(--white);
    animation: rotate360 1s linear infinite;
    transition: var(--transition-2);
}

@keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
}

.preloader .circle.loaded {
    opacity: 0;
    display: none;
}






/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--eerie-black);
    padding-block: 24px;
    z-index: 4;
    transition: var(--transition-1);
}

.header.active {
    background-color: var(--raisin-black);
    padding-block: 16px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle-btn {
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: var(--radius-circle);
    display: grid;
    place-content: center;
    gap: 8px;
    transition: var(--transition-1);
}

.nav-toggle-btn:is(:hover, :focus-visible) { gap: 10px; }

.nav-toggle-btn.active { gap: 8px; }

.nav-toggle-btn .line {
    width: 25px;
    height: 2px;
    background-color: var(--black);
    transition: var(--transition-1);
}

.nav-toggle-btn.active .line-1 { transform: rotate(45deg) translate(4px, 4px); }

.nav-toggle-btn.active .line-2 { transform: rotate(-45deg) translate(3px, -2px); }

.navbar {
    position: absolute;
    top: 100%;
    right: -370px;
    max-width: 370px;
    width: 100%;
    background-color: var(--white);
    height: 100vh;
    text-align: center;
    padding: 56px 40px;
    visibility: hidden;
    transition: 0.25s var(--cubic-in);
    z-index: 1;
}

.navbar.active {
    /* transform: translateX(-370px); */
    right: 0;
    visibility: visible;
    transition-timing-function: var(--cubic-out);
}

.navbar-link {
    color: var(--radius-black);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    padding-block: 10px;
    transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible) { text-shadow: 1px 0 0 var(--eerie-black); }

.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

.overlay.active { display: block; }





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/